{% extends "./base.html" %}

{% block title %}
	Puzzlers Club Cryptic Clue Contests -- All Users
{% endblock title %}

{% block content %}
	{% load static %}
	<h1>All Users</h1>
	<table class="sortable">
		<tr>
			<th>Username</th>
			<th>Contests Won</th>
			<th>Average Likes Per Submission</th>
			<th>Total Submissions</th>
			<th>Total Likes</th>
			<th>Total Likes Given</th>
		</tr>
		{% for user_data in users %}
			<tr>
				<td> <a href="{% url 'cryptics:show_user' user_data.user.id %}">{{ user_data.user.username }}</a></td>
				<td>{{ user_data.contests_won }}</td>
				<td>{{ user_data.average_likes }}</td>
				<td>{{ user_data.total_submissions }}</td>
				<td>{{ user_data.total_likes }}</td>
				<td>{{ user_data.clues_liked }}</td>
			</tr>
		{% endfor %}
	</table>
	<p><a href="{% url 'cryptics:index' %}">Back</a></p>
	<script type="text/javascript" src="{% static 'cryptics/js/sort_table.js' %}"></script>
{% endblock content %}
