<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock title %}</title>
		<meta charset="utf-8">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'cryptics/style.css' %}">
	</head>
	<body>
		<div id="header">
			<div id="header_links">
				<a href="{% url 'cryptics:index' %}">Home</a> | <a href="{% url 'cryptics:about' %}">About</a> | <a href="{% url 'cryptics:all_users' %}">User Stats</a>
			</div>
			<div id="header_login">
				{% if user.is_authenticated %}
					Hello, <strong><a href="{% url 'cryptics:show_user' user.id %}">{{user}}</a></strong>! <a href="{% url 'account_logout' %}">Log out?</a>
				{% else %}
					<a href="{% url 'account_login' %}">Log in</a> to submit clues or contest words.
				{% endif %}
			</div>
		</div>
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		{% block content %}

		{% endblock content %}
	</body>
</html>
