<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock title %}</title>
		<meta charset="utf-8">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'cryptics/style.css' %}">
	</head>
	<body>
		<div id="header">
			{% if user.is_authenticated %}
				Hello, <strong>{{user}}</strong>! <a href="{% url 'account_logout' %}">Log out?</a>
			{% else %}
				<a href="{% url 'account_login' %}">Log in</a> to submit clues or contest words.
			{% endif %}
		</div>
		{% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		
		{% block content %}
			
		{% endblock content %}
	</body>
</html>