{% extends "./base.html" %}

{% block title %}
Puzzlers Club Cryptic Clue Contests
{% endblock title %}

{% block content %}
	{% load static %}
	{% load humanize %}

	<h1>Cryptic Clue-Writing Contests</h1>

	<h3>New Contest</h3>
	<form action="" method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Create Contest">
	</form>
	<hr>
	{% if open_contests %}
		<h3>Open Contests</h3>
		<table>
			<tr>
				<th>Word</th>
				<th>Ends...</th>
				<th>Started By</th>
			</tr>
			{% for contest in open_contests %}
				<tr class="{% cycle 'row1' 'row2' %}">
					<td><a href="{% url 'cryptics:show_contest_full' contest.id contest.slugified %}">{{contest.word}}</a></td>
					<td>{{contest.submissions_end_time|naturaltime}}</td>
					<td><a href="{% url 'cryptics:show_user' contest.started_by.id %}">{{contest.started_by}}</a></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>No open contests currently. {% if user.is_authenticated %}Start one!{% endif %}</p>
	{% endif %}
	{% if voting_contests %}
		<hr>
		<h3>Vote For Your Favorite Clue Now!</h3>
		<table>
			<tr>
				<th>Word</th>
				<th>Voting Ends...</th>
			</tr>
			{% for contest in voting_contests %}
				<tr class="{% cycle 'row1' 'row2' %}">
					<td><a href="{% url 'cryptics:show_contest_full' contest.id contest.slugified %}">{{contest.word}}</a></td>
					<td>{{contest.voting_end_time|naturaltime}}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
	<hr>
	<p><strong>The current champion is {{ current_champ.user }}, with {{ current_champ.contests_won }} win{{ current_champ.contests_won|pluralize }}!  All hail {{ current_champ.user }}!</strong>  <a href="{% url 'cryptics:all_users' %}">Full stats</a></p>
	{% if recent_clues %}
		<hr>
		<h3>Recent Clues</h3>
		<table>
			<tr>
				<th>Contest</th>
				<th>Clue</th>
				<th>Explanation (hover)</th>
				<th>Submitted</th>
			</tr>
			{% for sub in recent_clues %}
				<tr class="{% cycle 'row1' 'row2' %}">
					<td><a href="{% url 'cryptics:show_contest_full' sub.contest.id sub.contest.slugified %}?highlight={{sub.id}}#clue{{sub.id}}">{{sub.contest.word}}</td>
					<td>{{sub.clue}}</td>
					<td{% if user != sub.submitted_by %} class="explanation"{% endif %}>{{sub.explanation|linebreaksbr}}</td>
					<td>{{sub.created_at|naturaltime}}</td>
					{% if user.is_authenticated and user != sub.submitted_by and not sub.contest.is_submissions %}
						<td>
							{% if user in sub.likers.all %}
								{% if sub.contest.is_voting %}
									<a href="{% url 'cryptics:remove_like' sub.id %}?next={% url 'cryptics:index' %}"><img src="{% static 'cryptics/images/filled_star.png' %}" title="Un-like this clue?" alt="filled star" class="like_star"></a>
								{% else %}
									<img src="{% static 'cryptics/images/filled_star.png' %}" title="You liked this clue" alt="filled star" class="like_star">
								{% endif %}
							{% else %}
								{% if sub.contest.is_voting %}
									<a href="{% url 'cryptics:add_like' sub.id %}?next={% url 'cryptics:index' %}"><img src="{% static 'cryptics/images/empty_star.png' %}" title="Like this clue?" alt="empty star" class="like_star"></a>
								{% else %}
									<img src="{% static 'cryptics/images/empty_star.png' %}" title="You didn't like this clue" alt="empty star" class="like_star">
								{% endif %}
							{% endif %}
						</td>
					{% endif %}
					{% if sub.contest.is_submissions and user == sub.submitted_by %}
						<td><a href="{% url 'cryptics:delete_submission' sub.id %}?next={% url 'cryptics:index' %}"><img src="{% static 'cryptics/images/delete_button.png' %}" title="Delete this clue?" alt="delete" class="like_star"></a></td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	{% endif %}

	{% if past_contests %}
		<hr>
		<h3>Past Contests</h3>
		<table>
			<tr>
				<th>Contest</th>
				<th>Winning Clue</th>
				<th>Explanation (hover)</th>
				<th>Submitted By</th>
			</tr>
			{% for contest in past_contests %}
				<tr class="{% cycle 'row1' 'row2' %}">
					<td><a href="{% url 'cryptics:show_contest_full' contest.id contest.slugified %}">{{ contest.word }}</a> (ended {{ contest.voting_end_time|timesince }} ago)</td>
					<td>{{ contest.winning_entry.clue }}</td>
					<td{% if user != sub.submitted_by %} class="explanation"{% endif %}>{{ contest.winning_entry.explanation|linebreaksbr }}</td>
					<td>{{ contest.winning_entry.submitted_by }}</td>
				</tr>
			{% endfor %}
		</table>
		...
	{% endif %}
	<p><a href="{% url 'cryptics:all_closed_contests' %}">Full Archives</a></p>

	<script type="text/javascript" src="{% static 'cryptics/js/click_to_reveal.js' %}"></script>
{% endblock content %}
