{% extends "./base.html" %}

{% block title %}
Puzzlers Club Cryptic Clue Contests
{% endblock title %}

{% block content %}
	{% load static %}
	{% load humanize %}

	<h1>Cryptics</h1>
	
	<h3>New Contest</h3>
	<form action="{% url 'cryptics:create_contest' %}" method="post">
		{% csrf_token %}
		<p>Word: <input type="text" name="word" id="new_contest_word"> <a href="#" id="enumerate_link">Auto-enumerate</a> (beta)</p>
		<input type="submit" value="Create Contest">
	</form>
	<hr>
	{% if open_contests %}
		<h3>Open Contests</h3>
		<table>
			<tr>
				<th>Word</th>
				<th>Ends...</th>
				<th>Submitted By</th>
			</tr>
			{% for contest in open_contests %}
				<tr class="{% cycle 'row1' 'row2' %}">
					<td><a href="{% url 'cryptics:show_contest' contest.id %}">{{contest.word}}</a></td>
					<td>{{contest.submissions_end_time|naturaltime}}</td>
					<td><a href="{% url 'cryptics:show_user' contest.started_by.id %}">{{contest.started_by}}</a></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>No open contests currently. {% if user.is_authenticated %}Start one!{% endif %}</p>
	{% endif %}
	{% if voting_contests %}
		<hr>
		<h3>Vote For Your Favorite Clue Now!</h3>
		<table>
			<tr>
				<th>Word</th>
				<th>Voting Ends...</th>
			</tr>
			{% for contest in voting_contests %}
				<tr class="{% cycle 'row1' 'row2' %}">
					<td><a href="{% url 'cryptics:show_contest' contest.id %}">{{contest.word}}</a></td>
					<td>{{contest.voting_end_time|naturaltime}}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
	<hr>
	<p><strong>The current champion is {{ current_champ.user }}, with {{ current_champ.contests_won }} win{{ current_champ.contests_won|pluralize }}!  All hail {{ current_champ.user }}!</strong>  <a href="{% url 'cryptics:all_users' %}">Full stats</a></p>
	{% if recent_clues %}
		<hr>
		<h3>Recent Clues</h3>
		<table>
			<tr>
				<th>Contest</th>
				<th>Clue</th>
				<th>Explanation (highlight)</th>
				<th>Submitted</th>
			</tr>
			{% for sub in recent_clues %}
				<tr class="{% cycle 'row1' 'row2' %}">
					<td><a href="{% url 'cryptics:show_contest' sub.contest.id %}">{{sub.contest.word}}</td>
					<td>{{sub.clue}}</td>
					<td{% if user != sub.submitted_by %} class="explanation"{% endif %}>{{sub.explanation|linebreaksbr}}</td>
					<td>{{sub.created_at|naturaltime}}</td>
					{% if user.is_authenticated and user != sub.submitted_by and not sub.contest.is_submissions %}
						<td>
							{% if user in sub.likers.all %}
								{% if sub.contest.is_voting %}
									<a href="{% url 'cryptics:remove_like' sub.id %}?next=/"><img src="{% static 'cryptics/images/filled_star.png' %}" class="like_star"></a>
								{% else %}
									<img src="{% static 'cryptics/images/filled_star.png' %}" class="like_star">
								{% endif %}
							{% else %}
								{% if sub.contest.is_voting %}
									<a href="{% url 'cryptics:add_like' sub.id %}?next=/"><img src="{% static 'cryptics/images/empty_star.png' %}" class="like_star"></a>
								{% else %}
									<img src="{% static 'cryptics/images/empty_star.png' %}" class="like_star">
								{% endif %}
							{% endif %}
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	{% endif %}

	{% if past_contests %}
		<hr>
		<h3>Past Contests</h3>
		<ul>
			{% for contest in past_contests %}
				<li><a href="{% url 'cryptics:show_contest' contest.id %}">{{contest.word}}</a></li>
			{% endfor %}
		</ul>
	{% endif %}

	<script type="text/javascript" src="{% static 'cryptics/js/enumerate.js' %}"></script>
{% endblock content %}