{% extends "./base.html" %}

{% block title %}
Puzzlers Club Cryptic Clue Contests
{% endblock title %}

{% block content %}
	{% load humanize %}

	<h1>Cryptics</h1>
	
	<h3>New Contest</h3>
	<form action="{% url 'cryptics:create_contest' %}" method="post">
		{% csrf_token %}
		<p>Word: <input type="text" name="word"></p>
		<input type="submit" value="Create Contest">
	</form>
	{% if open_contests %}
		<hr>
		<h3>Contests</h3>
		<table>
			<tr>
				<th>Word</th>
				<th>Ends...</th>
				<th>Submitted By</th>
			</tr>
			{% for contest in open_contests %}
				<tr class="{% cycle 'row1' 'row2' %}">
					<td><a href="{% url 'cryptics:show_contest' contest.id %}">{{contest.word}}</a></td>
					<td>{{contest.end_time|naturaltime}}</td>
					<td><a href="{% url 'cryptics:show_user' contest.started_by.id %}">{{contest.started_by}}</a></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>No open contests currently. {% if user.is_authenticated %}Start one!{% endif %}</p>
	{% endif %}
	<hr>
	<p><strong>The current champion is {{ current_champ.user }}, with {{ current_champ.contests_won }} wins!  All hail {{ current_champ.user }}!</strong>  <a href="{% url 'cryptics:all_users' %}">Full stats</a></p>
	{% if recent_clues %}
		<hr>
		<h3>Recent Clues</h3>
		<table>
			<tr>
				<th>Contest</th>
				<th>Clue</th>
				<th>Explanation</th>
				<th>Submitted By</th>
			</tr>
			{% for sub in recent_clues %}
				<tr class="{% cycle 'row1' 'row2' %}">
					<td><a href="{% url 'cryptics:show_contest' sub.contest.id %}">{{sub.contest.word}}</td>
					<td>{{sub.clue}}</td>
					<td>{{sub.explanation|linebreaks}}</td>
					<td><a href="{% url 'cryptics:show_user' sub.submitted_by.id %}">{{sub.submitted_by}}</a> ({{sub.created_at|naturaltime}})</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}

	{% if past_contests %}
		<hr>
		<h3>Past Contests</h3>
		<ul>
			{% for contest in past_contests %}
				<li><a href="{% url 'cryptics:show_contest' contest.id %}">{{contest.word}}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock content %}