{% extends "./base.html" %}

{% block title %}
	{{ this_user.username }}
{% endblock title %}

{% block content %}
	{% load static %}
	<h1>{{ this_user.username }}</h1>
	<p><strong>Contests started:</strong> 
		{% for contest in this_user.contests_started.all %}
			<a href="{% url 'cryptics:show_contest' contest.id %}">{{ contest.word }}</a>{% if not forloop.last %}, {% endif %}
		{% empty %}
			None!
		{% endfor %}
	</p>
	<p><strong>Contests won:</strong> 
		{% for contest in this_user.contests_won.all %}
			<a href="{% url 'cryptics:show_contest' contest.id %}">{{ contest.word }}</a>{% if not forloop.last %}, {% endif %}
		{% empty %}
			None!
		{% endfor %}
	</p>
	<h3>All Submissions</h3>
	{% if this_user.submissions.exists %}
		<table>
			<tr>
				<th>Clue ID</th>
				<th>Contest</th>
				<th>Clue</th>
				<th>Explanation</th>
				<th>Submitted By</th>
				<th>Likes</th>
			</tr>
			{% for sub in this_user.submissions.all|dictsort:"sort_order" %}
				<tr class="{% cycle 'row1' 'row2' %}">
					<td><a name="clue{{ sub.id }}" href="{% url 'cryptics:show_user' user.id %}#clue{{sub.id}}">{{sub.id}}</td>
					<td>{{sub.contest.word}}</td>
					<td>{{sub.clue}}</td>
					<td>{{sub.explanation|linebreaksbr}}</td>
					<td>{{sub.submitted_by}}</td>
					<td title="{{sub.likers.all|join:', '}}">{{sub.likers.count}}</td>
					{% if user.is_authenticated and user != this_user %}
						<td>
							{% if user in sub.likers.all %}
								{% if sub.contest.active %}
									<a href="{% url 'cryptics:remove_like' sub.id %}?next=/user/{{this_user.id}}"><img src="{% static 'cryptics/images/filled_star.png' %}" class="like_star"></a>
								{% else %}
									<img src="{% static 'cryptics/images/filled_star.png' %}" class="like_star">
								{% endif %}
							{% else %}
								{% if sub.contest.active %}
									<a href="{% url 'cryptics:add_like' sub.id %}?next=/user/{{this_user.id}}"><img src="{% static 'cryptics/images/empty_star.png' %}" class="like_star"></a>
								{% else %}
									<img src="{% static 'cryptics/images/empty_star.png' %}" class="like_star">
								{% endif %}
							{% endif %}
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>None!</p>
	{% endif %}
	<p><a href="{% url 'cryptics:all_users' %}">Back to stats</a></p>
	<p><a href="{% url 'cryptics:index' %}">Back to main</a></p>
{% endblock content %}