{% extends "./base.html" %}

{% block title %}
	{{ this_user.username }}
{% endblock title %}

{% block content %}
	{% load static %}
	<h1>{{ this_user.username }}</h1>
	<p><strong>Contests started:</strong> 
		{% for contest in this_user.contests_started.all %}
			<a href="{% url 'cryptics:show_contest_full' contest.id contest.slugified %}">{{ contest.word }}</a>{% if not forloop.last %}, {% endif %}
		{% empty %}
			None!
		{% endfor %}
	</p>
	<p><strong>Contests won:</strong> 
		{% for contest in this_user.contests_won.all %}
			<a href="{% url 'cryptics:show_contest_full' contest.id contest.slugified %}">{{ contest.word }}</a>{% if not forloop.last %}, {% endif %}
		{% empty %}
			None!
		{% endfor %}
	</p>
	<h3>All Submissions</h3>
	{% if this_user.submissions.exists %}
		<table>
			<tr>
				<th>Clue ID</th>
				<th>Contest</th>
				<th>Clue</th>
				<th>Explanation (highlight)</th>
				<th>Submitted By</th>
				<th>Likes</th>
			</tr>
			{% for sub in this_user.submissions.all|dictsort:"sort_order" %}
				{% if sub.contest.is_closed %}
					<tr class="{% cycle 'row1' 'row2' %}"{% if sub.id == highlight %} id="highlight"{% endif %}>
						<td><a name="clue{{ sub.id }}" href="{% url 'cryptics:show_user' this_user.id %}?highlight={{sub.id}}#clue{{sub.id}}">{{sub.id}}</td>
						<td><a href="{% url 'cryptics:show_contest_full' sub.contest.id sub.contest.slugified %}">{{sub.contest.word}}</a></td>
						<td>{{sub.clue}}</td>
						<td{% if user != this_user %} class="explanation"{% endif %}>{{sub.explanation|linebreaksbr}}</td>
						<td>{{sub.submitted_by}}</td>
						<td title="{{sub.likers.all|join:', '}}">
							{% if not sub.contest.is_submissions %}
								{{sub.likers.count}}
							{% else %}
								Still open
							{% endif %}
						</td>
						{% if user.is_authenticated and user != this_user %}
							<td>
								{% if not sub.contest.is_submissions %}
									{% if user in sub.likers.all %}
										{% if sub.contest.is_voting %}
											<a href="{% url 'cryptics:remove_like' sub.id %}?next=/user/{{this_user.id}}"><img src="{% static 'cryptics/images/filled_star.png' %}" title="Un-like this clue?" alt="filled star" class="like_star"></a>
										{% else %}
											<img src="{% static 'cryptics/images/filled_star.png' %}" title="You liked this clue" alt="filled star" class="like_star">
										{% endif %}
									{% else %}
										{% if sub.contest.is_voting %}
											<a href="{% url 'cryptics:add_like' sub.id %}?next=/user/{{this_user.id}}"><img src="{% static 'cryptics/images/empty_star.png' %}" title="Like this clue" alt="empty star" class="like_star"></a>
										{% else %}
											<img src="{% static 'cryptics/images/empty_star.png' %}" title="You didn't like this clue" alt="empty star" class="like_star">
										{% endif %}
									{% endif %}
								{% endif %}
							</td>
						{% endif %}
					</tr>
				{% endif %}
			{% endfor %}
		</table>
	{% else %}
		<p>None!</p>
	{% endif %}
	<p><a href="{% url 'cryptics:all_users' %}">Back to stats</a></p>
	<p><a href="{% url 'cryptics:index' %}">Back to main</a></p>

	<script type="text/javascript" src="{% static 'cryptics/js/click_to_reveal.js' %}"></script>
{% endblock content %}