body {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

#header {
	font-style: italic;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

#header div {
	display: inline-block;
}

#header_login {
	float: right;
	text-align: right;
}

.row1 {
	background-color: transparent;
}

.row2 {
	background-color: #DDDDDD;
}

/* Because the sortable table can be reorganized, we'll use pseudoselectors */

.sortable th {
	cursor: pointer;
}

.sortable tr:nth-child(2n+2) {
	background-color: transparent;
}

.sortable tr:nth-child(2n+3) {
	background-color: #DDDDDD;
}

.sort_column {
	font-style: italic;
}

#highlight {
	background-color: #ccffcc;
}

td.explanation {
	color: transparent;
}

td.explanation:hover {
	color: black;
}

.like_star {
	width: 20px;
	height: 20px;
}

.winner_box {
	text-align: center;
	background-color: #FFFACD;
}

.winner {
	font-weight: bold;
	font-style: italic;
	font-size: 1.2em;
}

p.warning {
	color: red;
	font-weight: bold;
	display: none;
}

span.warning {
	color: red;
	font-weight: bold;
}
